@media (max-width: 576px) {
  img.img-mq {
    height: 20rem !important;
  }
  #contact-container {
    width: 90vw;
    margin-top: 4rem;
    height: 22rem;
    margin-bottom: 8rem;
  }
}
.Htop{
  border: 1px solid yellow;
  height: 2px;
  width: 100%;
}

body {
  background-color: #e9e9e9;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
button:focus {
  outline: none;
  box-shadow: none;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
#contact-container{
    width: 65vw;
     margin-top:4rem;
     height: 22rem;
     margin-bottom: 8rem;
   }
